client/torrents/*
client/config/*
!client/config/settings.json
client/watch/*
client_2/torrents/*
client_2/config/*
Tcpdumps
!client_2/config/settings.json
chihaya/config/*
!chihaya/config/chihaya.yaml